<div class="d-flex align-items-center min-vh-100">
    <div class="container login">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <form class="form-signin">
                    <a href="javascript: void(0)" class="d-block text-center mb-4 mt-5">
                        <img class="mb-4" src="/images/logo.png" alt="logo">
                    </a>
                        <h1 class="title mb-4 font-weight-normal text-center">Вход</h1>
                    <div class="form-label-group position-relative mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-envelope fa text-secondary" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Электронная почта"/>
                        </div>
                        <span id="name-error" class="error invalid-feedback">Заполните электронную почту.</span>
                    </div>

                    <div class="form-label-group position-relative mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-lock fa text-secondary" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Пароль"/>
                        </div>
                        <span id="password-error" class="error invalid-feedback">Заполните пароль.</span>
                    </div>

                    <div class="checkbox text-start mb-3">
                        <input type="checkbox" class="form-check-input" id="rememberMe" value="remember-me">
                        <label class="form-check-label" for="rememberMe">Запомнить меня</label>
                    </div>
                    <button class="btn btn-lg btn-primary w-100" type="submit">Войти</button>
                    <p class="mb-3 text-muted text-center">Еще нет аккаунта? <a href="/sign-up">Пройдите регистрацию</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>