<section class="income-view">
    <h1 class="title mb-xxl-5">Доходы</h1>

    <div id="cards-container" class="income-group d-flex gap-3 flex-wrap">

    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow">
                <div class="modal-body text-center p-5">
                    <h2 class="h4 mb-4" style="color: #052C65;">Вы действительно хотите удалить категорию? Связанные
                        доходы останутся без категории.</h2>

                    <div class="d-flex justify-content-center gap-3">
                        <button type="button" id="confirm-delete" class="btn btn-success px-4">Да, удалить
                        </button>
                        <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal">Не удалять
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>